#cursor {
    pointer-events: none;
    position: fixed;
    z-index: 9999;
    mix-blend-mode: difference;
    transition: width 0.2s, height 0.2s, background-color 0.2s, transform 0.1s;
    width: 14px;
    height: 14px;
    background-color: #fff;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}