@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@900&display=swap');
@import "tailwindcss";
@theme {
  --font-main: "Inter Tight", sans-serif;
}
*{
    cursor: none;
}

#cursor {
    pointer-events: none;
    position: fixed;
    z-index: 9999;
    mix-blend-mode: difference;
    transition: width 0.2s, height 0.2s, background-color 0.2s, transform 0.1s;
    width: 14px;
    height: 14px;
    background-color: #fff;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}
.main-font-black {
  font-family: var(--font-main);
  font-weight: 900;
  font-style: normal;
  font-optical-sizing: auto;
}
.main-font-light {
  font-family: var(--font-main);
  font-weight: 300;
  font-style: normal;
  font-optical-sizing: auto;
}